*{
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

textarea {
  height: 100px;
}


.error {
  color: red;
  font-size: 12px;
  margin-top: 5px; /* Thêm khoảng cách trên để ngăn lỗi trôi lên lần tiếp theo */
}

button {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: red;
  cursor: not-allowed;
}

button:hover {
  color: aliceblue;
  background-color: black;
}



/* Login.css */

.login {
  max-width: 400px;
  margin: 0 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.login h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.forgotPassword {
  text-align: right;
  width: 100%;
}


.formGroup {
  text-align: left;
  margin-bottom: 15px;
}

/* Header.css */

.header {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  padding: 0.5rem 2rem;
}

.header h2 {
  color: aliceblue;
}

.header div {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 0.5rem;
  height: 100%;
}

.header p{
  color: aliceblue;
}

.header button {
  width: fit-content;
  background-color: transparent;
  border: transparent;
  color: aliceblue;
  padding: 0;
}

.vertical-line{
  border-left: 1px solid aliceblue;
  height: 90%;
  width: 1px;
}

/* Errorpage */
#error-page{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Dashboard */
.dashboard {
  height: 100%;
  display: flex;
  padding: 2rem 0;
}

.dashboard button {
  width: 200px;
}

.dashboard >div {
  flex: 0.5;
  padding: 0 8rem;
}


/* Restaurant */
.restaurant {
  flex:1;
  display: flex;
}

.restaurant-sidebar{
  width: 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px black solid;
  text-align: left;
}

.restaurant-title {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  overflow: hidden;
  height: 3rem;
}

.restaurant-title> button {
  width: 5rem;
}

.restaurant-sidebar-nav{
  display: flex;
  flex-direction: column;
}

.restaurant-sidebar-nav a{
  padding: 1rem 1rem;
  height: 4rem;
  font-size: 20px;
}

.restaurant-sidebar-nav a.active,
.restaurant-sidebar-nav a:hover{
  background-color: black;
  color: aliceblue;
}


.btnBox {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btnBox button {
  color: black;
  width: 6rem;
  background-color: aliceblue;
}

.titleBox {
  display: flex;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 4rem 0;
}

.list-item {
  display: flex;
  align-items: center;
  height: 150px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 1.5rem;
}


.list-item:hover {
  background-color: black;
  color: aliceblue;
}

.list-item > div:first-child{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.list-item > div:last-child{
  display: none;
}


.list-item:hover >div:first-child{
  display: none;
}

.list-item:hover >div:last-child{
  display: flex;
}

.list-item img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}


.form {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.form-content {
  display: flex;
  padding: 4rem;
  gap: 1.5rem;
}

.form-content img {
  flex: 0.5;
  border-radius: 15px;
  width: 100px;

}

.form-content >div {
  display: flex;
  flex-direction: column;
  flex: 0.5;
  text-align: left;
  gap: 1.5rem;
}


.restaurant-outlet {
  display: flex;
  width: 80%;
}

.restaurant-outlet>div:first-child{
  width: 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
}

.restaurant-outlet>div:nth-child(2){
  width: 70%;
}

.restaurant-outlet .list {
  gap: 0;
  padding: 0;
}

.restaurant-outlet-item {
  display: flex;
  gap: 2rem;
  height: 4rem;
  justify-content: space-between;
  padding: 0 1rem;
}

.restaurant-outlet-item:hover {
  background-color: black;
}

.restaurant-outlet-item:hover h2{
  color: aliceblue;
}

.restaurant-outlet-item>div{
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
}

.restaurant-outlet-item button {
  background-color: #FF3333;
  width: 3rem;
  height: 3rem;
  display: block;
  margin: auto 0
}


.restaurant-outlet-item img {
  width: 3rem;
  height: 3rem;
  border-radius: 10px;
}


.restaurant-outlet .form-content {
  flex-direction: column;
}

.restaurant-outlet .form-content img {
  display: block;
  margin: 0 auto;
  width: 50%;
}